@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: #343D4B;
}

input, button, textarea{font-family: Montserrat;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: Montserrat; font-weight: 400;}




.wrapper{
	padding:10% 0px;
	height: 100vh;
	display: flex;
	justify-content:center;
	align-items: center;
	
}

.weather__container{
	display:flex;
	background: #222831;
	border-radius: 25px;
	justify-content:space-between;
	max-width: 45%;
	width: 100%;
	margin: 0 15%;
	
	
	}

.weather__right{
	position: relative;
	padding-right: 40px;
	
}

.main{
	max-width:415px;
	display: flex;
	flex-direction: column;
	padding: 25px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 34px;
	color: #FFFFFF;

}

.weather_items{
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	
}


.weather__item{
	display: flex;
	justify-content:space-between;
	
}

.span_pressure,.span_humidity,.span_wind{
	font-weight: 500;
}




.weather__now{
	margin-top: 25%;
	
	
	width: 100%;
	background: rgba(39, 46, 55, 0.99);
	border-radius: 12px;	
	display: flex;
	justify-content:space-between;
	
	
}

.weather__now-item{
	padding: 15px 20px 20px 20px;
	background: #272E37;
	box-shadow: 1px 2px 4px #222831;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #ffffff;
	
}

.weather__now-item__active{
	background: #FFFFFF;
}



.weather__img{
	max-width:55px;
}
.weather__tempa{
	font-weight: 700;

}


.weather__day__active,.weather__tempa__active{
	filter: invert(1);
}


.weather_location{
	display: flex;
	justify-content: center;
	align-items:center;
	gap: 8px;
	background: linear-gradient(90.8deg, rgba(144, 217, 224, 0.9) 0.2%, rgba(84, 96, 230, 0.9) 100%);
	border-radius: 10px;
	height: 53px;
	max-width: 415px;
	width: 100%;
	margin-top: 20%;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
}


.popup{
	display: flex;
	padding: 25px;
	position: absolute;
	width: 0%;
	visibility: hidden;
	height: 100%;
	left:0px;
	top:0px;
	background: linear-gradient(144.94deg, #88EBEF -0.71%, #535BE6 104.78%);
	border-radius: 0px 25px 25px 0px;
	opacity: 0;
	justify-content: center;
	
}

.popup__close{
	position: absolute;
	right:25px;
	cursor:pointer;
	transition: all 0.3s;
}

.popup__close:hover{
	transform: scale(1.2);
	
}

.popup__search{
	position: absolute;
	align-self: center;
	display: flex;
	gap: 13px;
	align-items: center;
	
}



.popup input{
	
	background: none;
	width: 80%;
	border-bottom: 1px solid #FFFFFF;
	padding: 6px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
	color: #FFFFFF;
}

.popup__button_search{
	cursor: pointer;
	display: flex;
	width: 35px;
	height: 35px;
	border-radius:100%;
	background: #535BE6;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
	
}


.popup__button_search:hover{
	background:#3a26e8;
}

.popup__location{
	width: 27px;
}


.open{
	animation: open 1s linear forwards ;
}

@keyframes open{
	0%{
		
	}

	100%{
		visibility:visible;
		width: 100%;
		opacity: 1;
	}
}

.close{
	animation: close 1s linear forwards ;
}

@keyframes close{
	0%{
		visibility:visible;
		width: 100%;
		opacity: 1;
	}

	100%{
		visibility:hidden;
		width: 0%;
		opacity: 0;
	}
}



/* Левая часть */


.weather__left{
	padding: 48px 24px 20px 32px;
	background: linear-gradient(152.19deg, rgba(136, 235, 239, 0.6) -0.04%, rgba(83, 91, 230, 0.9) 100%),url('/img/Rectangle 2.png');
	transform: scaleY(1.1);
	border-radius: 30px;
	width: 100%;
	
	
}



.loading{
	top: 0;
	left: 0;
	z-index: 3;
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 30px;
	background:url('https://i.pinimg.com/originals/27/7f/09/277f0932afd883e2d78adeb55c94faae.gif') 50%/cover no-repeat;
}

.span_day{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 37px;
	line-height: 45px;
	color: #FFFFFF;
	
}

span{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 34px;
	color: #FFFFFF;
}

.span_big{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 34px;
	color: #FFFFFF;
	
}



.weathe__text_main{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

.main_weather_icon{
	margin-top: 60%;
	height:95px;
}

.main_tempa{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 61px;
	/* identical to box height */


	color: #FFFFFF;
}

.main_weather{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;

	color: #FFFFFF;
}

.location{
	display: flex;
	align-items:center;
	margin-top: 4%;
}




@media(max-width:1400px){

	.wrapper{
		padding: 0;
	}

	.weather__container{
		max-width:100%;
		
		max-height: 100%;
		height: 90%;
		}

	.weather__now{
		margin-top: 10%;
		flex-wrap: wrap;
		min-width: 190px;
	}
	.span_big{
		font-size: 18px;
	}

	span{
		font-size: 18px;
	}

	.main{
		padding: 15px;

	}

	.weather_location{
		margin-top: 10%;
		
	}

	

}

@media(max-width:765px) and (orientation:landscape){

	.weather__container{
		max-width:100%;
		max-height: 100%;
		height: 90%;
		}


	.weather__now{
		margin-top: 5%;
	}

	.weather__right{
		padding:0;
	}

	.weather__left{
		padding:24px 24px 20px 16px;
	}

	.main_weather_icon{
		margin-top: 8%;
	}

	.main_tempa,.main_weather{
		font-size:24px;
		line-height: 26px;
	}
	
	.weather__now-item{
		gap:0;
		font-size: 12px;
		line-height: 15px;
		align-items:center;
		padding: 3%;
	}

	.weather__img{
		max-width: 30px;
	}

	.weather_items{
		gap: 1px;
	}



}

@media(max-width:765px) and (orientation:landscape){
	.weather_location{
		margin-top: 10%;
		height:40px;
	}

	.main_weather_icon{
		height:50px;
	}
	
	.weathe__text{
		font-size: 15px;
	}
}



@media(orientation:portrait) and (max-width:960px){
	.wrapper{
		padding:0;
	}

	
	
	.weather__container{
		max-width:100%;
		flex-direction: column;
		margin:0;
		justify-content: center;
		border-radius:0;
		max-height: 100%;
		height: 100%;
		}

	.main{
		max-width: 100%;
		justify-content: center;
		
		
	}

	.weather_location{
		align-self:center;
		
	}

	.weather__day{
		font-size: 10px;
	}

	
	

	.weather__left{
		height:300px;
		display: flex;
		gap: 40px;
		align-items:center;
		justify-content: center;
		border-radius:0;
	}
	.loading{
		border-radius:0;
	}

	.popup{
		border-radius:0;
	}
	.weather__right{
		justify-content: center;
		padding: 0;
		max-height: 100%;
		height: 100%;
	}

	.location,.left_data{
		display: none;
	}

	.main_weather_icon{
		margin: 0;
		height: 80%;
	}

	.main_tempa,.main_weather{
		font-size: 40px;
		line-height: 40px;
	}

	.weather__now{
		margin-top: 12%;
	}
	.span_big{
		font-size: 24px;
	}

	span{
		font-size: 24px;
	}
	

}









@media(orientation:portrait) and (max-width:720px) {
	.wrapper{
		padding:0;
	}

	
	.weather__now-item{
		
		font-size: 20px;
		line-height: 15px;
		align-items:center;
		
	}

	.weather__img{
		max-width: 50px;
	}
	
	.weather__container{
		max-width:100%;
		flex-direction: column;
		margin:0;
		justify-content: center;
		border-radius:0;
		max-height: 100%;
		height: 100%;
		}

	.main{
		max-width: 100%;
		justify-content: center;
		padding:10px 5px 0px 5px;
		
	}

	.weather_location{
		align-self:center;
		margin-top: 5%;
	}

	.weather_items{
		gap: 2px;
	}

	.weather__left{
		height:150px;
		display: flex;
		gap: 10px;
		align-items:center;
		justify-content: center;
		border-radius:0;
	}
	.loading{
		border-radius:0;
	}

	.popup{
		border-radius:0;
	}
	.weather__right{
		justify-content: center;
		padding: 0;
		max-height: 100%;
		height: 100%;
	}

	.location,.left_data{
		display: none;
	}

	.main_weather_icon{
		margin: 0;
		height: 80%;
	}

	.main_tempa,.main_weather{
		font-size: 15px;
		line-height: 20px;
	}

	.weather__now{
		margin-top: 2%;
		width: 280px;
		align-self:center;
	}

	
	
	.weather__now-item{
		gap: 2px;
	}
	.span_big{
		font-size: 18px;
	}

	span{
		font-size: 18px;
	}
}